/*####################### SECTION (CENTER Carousel) #######################*/
section#center .carousel-caption {
    bottom: 210px;
    left: 0;
    width: 30%;
    text-align: center;
    left: 30%;
    padding: 15px;
}
section#center .carousel-caption1 {
    left: 61%;
}
section#center .carousel-caption2 {
    left: 9%;
}
section#center .carousel-indicators {
    bottom: 20px;
}
/*####################### SECTION (CENTER Carousel) END #######################*/

/*####################### SECTION (RECIPE) #######################*/
section#recipe .recipe_2_right:hover {
    background: var(--green) !important;
    color: var(--bs-white) !important;
    transition: 0.3s;
}
section#recipe .recipe_2_right a:hover {
    color: var(--bs-dark) !important;
    transition: 0.3s;
}
section#recipe .recipe_2_right:hover .line {
    background: var(--bs-white) !important;
    transition: 0.3s;
}
section#recipe .recipe_2_right {
    min-height: 330px;
}
section#recipe .recipe_2_left img {
    min-height: 330px;
}
/*####################### SECTION (RECIPE) END #######################*/

/*####################### SECTION (TREND) #######################*/
section#trend .trend_1_left2_inner {
    width: 40%;
}
/*####################### SECTION (TREND) END #######################*/

/*####################### SECTION (NEWS) #######################*/
section#news .news_1 .col {
    position: relative;
}

section#news .news_1 .col .news_1_left {
    padding-bottom: 4rem;
}

section#news .news_1 .col .news_1_left img {
    height: 203px;
    width: 306px;
}

section#news .news_1 .col .news_1_left span:has(a.button) {
    position: absolute;
    bottom: 0.8rem;
}
/*####################### SECTION (NEWS) END  #######################*/

/*####################### MEDIA (RESPONSIVE) #######################*/
@media screen and (max-width: 767px) {
    section#center .carousel-caption {
        position: static !important;
        width: 100% !important;
        /* margin-bottom: 20px !important; */
    }
    section#center .center_home .carousel-indicators {
        bottom: -30px;
    }
    section#center.center_home {
        padding-bottom: 40px;
    }

    section#recipe .recipe_2_left img {
        min-height: auto;
    }
    section#recipe .recipe_2_right {
        min-height: auto !important;
    }

    section#spec .spec_2i {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    section#choose .choose_1r {
        margin-top: 15px;
    }
    section#choose .choose_1rir {
        margin-top: 15px;
    }

    section#news .news_1_left {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    section#trend .trend_1_left2 {
        position: static !important;
    }
    section#trend .trend_1_left2_inner {
        width: 100% !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    section#recipe .recipe_2 {
        background: white;
        padding: 10px;
    }
    section#recipe .recipe_2_right {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    section#recipe .recipe_2_left {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    section#center .center_home img {
        min-height: 600px;
    }
    section#center .carousel-caption {
        bottom: 100px;
        width: 35%;
    }
    section#center .carousel-caption .fs-3 {
        font-size: 20px !important;
    }
    section#center .carousel-caption1 {
        left: 56%;
    }

    section#recipe .recipe_2_right b {
        font-size: 14px;
    }
    section#recipe .recipe_2_right p {
        font-size: 13px;
    }

    section#choose .choose_1ril .font_60 {
        font-size: 40px;
    }
    section#choose .choose_1r h1 {
        font-size: 30px;
    }

    section#trend .trend_1_left2 {
        position: static !important;
    }
    section#trend .trend_1_left2_inner {
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    section#center .carousel-caption {
        bottom: 70px;
    }
    section#trend .trend_1_left2_inner {
        width: 70%;
    }
}

@media (min-width: 1201px) and (max-width: 1300px) {
}

@media screen and (min-width: 1400px) {
    section#center .carousel-caption {
        bottom: 260px;
    }

    section#recipe .recipe_2_right {
        min-height: 330px;
    }
    section#recipe .recipe_2_left img {
        min-height: 330px;
    }
}
