@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Donegal+One&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --border_light: #d6e1ce;
    --border_dark: #201f1f;
    --bg_light: #ebf7e4;
    --bg_back: #00000075;
    --bg_back_dark: #000000f2;
    --green: #6ebe3b;
}

* {
    box-sizing: border-box !important;
    text-decoration: none !important;
    list-style: none !important;

    outline: 0;
    border: 0;
}

*:not(.icon) {
    font-family: "Poppins", sans-serif;
}

body {
    /* font-family: "Donegal One", serif; */
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

ul {
    list-style: none;
    padding: 0;
}

ul.recipes-downward-fmt li span img {
    height: 67px;
    width: 100px;
    border-radius: 0.25rem !important;
}

ul.nav-tabs {
    width: fit-content;
    border-radius: 0.25rem;
    overflow: hidden;
}

ul.nav-tabs .nav-link {
    border-radius: 0;
    border: none;
    border-bottom: 3px solid transparent;
    padding: 10px 20px;
    background: var(--bs-dark);
    color: var(--bs-white);
}
ul.nav-tabs .nav-link:hover {
    transition: 0.3s;
    border-bottom: 3px solid var(--bs-dark);
    background: var(--green);
    color: var(--bs-white);
}
ul.nav-tabs .nav-link.active {
    border-bottom: 3px solid var(--bs-dark);
    background: var(--green);
    color: var(--bs-white);
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
}

a {
    color: var(--bs-black);
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: var(--green);
}
a:focus {
    text-decoration: none;
    color: var(--green);
}
a.button,
button.button {
    border-radius: 0.25rem !important;
}

.link:hover {
    color: var(--green) !important;
}
.link:focus {
    color: var(--bs-green) !important;
}

.button {
    transition: 0.3s;
    padding: 10px 36px 12px 36px;
    display: inline-block;
    color: var(--bs-white);
    background: var(--green);
}

.button:hover {
    background: var(--bs-dark) !important;
    color: var(--bs-white) !important;
}

.button:focus {
    background: var(--bs-dark) !important;
    color: var(--bs-white) !important;
}

.col_green {
    color: var(--green) !important;
}
.bg_green {
    background: var(--green) !important;
}

.bg_light {
    background: var(--bg_light) !important;
}
.bg_back {
    background: var(--bg_back) !important;
}
.bg_back_dark {
    background: var(--bg_back_dark) !important;
}

.border_light {
    border: 1px solid var(--border_light);
}
.border_dark {
    border: 1px solid var(--border_dark);
}
.line {
    height: 3px !important;
    width: 60px;
    background: var(--green);
}
hr {
    opacity: 1;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: var(--border_light);
}

.font_14 {
    font-size: 14px;
}
.font_15 {
    font-size: 15px;
}
.font_12 {
    font-size: 12px;
}
.font_11 {
    font-size: 11px;
}
.font_10 {
    font-size: 10px;
}
.font_9 {
    font-size: 9px;
}
.font_13 {
    font-size: 13px;
}
.font_50 {
    font-size: 50px;
}
.font_60 {
    font-size: 60px;
}
.font_80 {
    font-size: 80px;
}

.carousel_p {
    padding-bottom: 90px !important;
}
.carousel_p .carousel-indicators {
    bottom: -60px !important;
}
p {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}
.border,
.border-start,
.border-end,
.border-top,
.border-bottom {
    border-color: var(--border_light) !important;
}
.carousel-indicators [data-bs-target] {
    background-color: var(--bs-dark);
}
.family_1 {
    font-family: "Bungee Shade", serif;
}
.family_2 {
    font-family: "Roboto", sans-serif;
}

.icon_cup:before {
    display: inline-block;
    width: 6%;
    height: 1px;
    background-color: var(--green);
    vertical-align: middle;
    margin-right: 1%;
    content: "";
}
.icon_cup:after {
    display: inline-block;
    width: 6%;
    height: 1px;
    background-color: var(--green);
    vertical-align: middle;
    margin-left: 1%;
    content: "";
}

.head_after:after {
    display: inline-block;
    width: 25%;
    height: 1px;
    background-color: var(--green);
    vertical-align: middle;
    margin-left: 3%;
    content: "";
}

.tag-box {
    background: var(--bs-dark);
    color: var(--bs-white);
    padding: 5px 26px !important;
}

.tags li a,
.tag-box,
.tag-box2 {
    border-radius: 0.25rem;
}

section:not(.img-nr) img,
footer.site-footer img {
    border-radius: 0.25rem;
    object-fit: cover;
    object-position: center;
}

.img-nr img {
    border-radius: 0 !important;
    object-fit: cover;
    object-position: center;
}

.box {
    border-radius: 0.25rem;
}

/*####################### Styles DRY #######################*/
section#center,
section#join {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

section#center::after,
section#join::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

section#center .container-xl,
section#join .container-xl {
    position: relative;
    z-index: 1;
}
/*####################### Styles DRY END #######################*/

/*####################### SITE HEADER #######################*/
header.site-header {
    margin: 0;
    padding: 0;
    position: relative;
}

header.site-header .navbar {
    padding-top: 0;
    padding-bottom: 0;
}

header.site-header .hide {
    display: none !important;
}

header.site-header .nav_hide:after {
    display: none !important;
}

header.site-header .navbar-expand-lg .navbar-nav .nav-link {
    color: var(--bs-black) !important;
    font-weight: 300;
}

header.site-header .navbar-expand-lg .navbar-nav .button {
    color: var(--bs-white) !important;
}

header.site-header .navbar-expand-lg .navbar-nav .button:hover {
    background: var(--bs-dark) !important;
    color: var(--bs-white) !important;
}

header.site-header .navbar .dropdown-toggle::after {
    display: none !important; /* hide bootstrap default icon */
}

header.site-header .offcanvas-body {
    background-color: var(--bs-white);
}

header.site-header .offcanvas-header {
    padding: 0px 1rem;
    border-bottom: 1px solid var(--border_light);
    background: var(--blue) !important;
}
header.site-header .offcanvas-header a {
    color: var(--bs-black);
}

header.site-header .dropdown-menu {
    border: none;
    border-radius: 0;
    box-shadow: var(--bs-box-shadow);
    line-height: 1.5rem;
    padding: 0 0;
    z-index: 1021;
}

header.site-header .dropdown-header {
    color: var(--bs-gray-800);
    font-size: 1rem;
    font-weight: 700;
    padding: 0.25rem 1.5rem;
}

header.site-header .dropdown-text {
    color: var(--bs-gray-500);
    font-size: 0.75rem;
    line-height: 1.4;
    padding: 0.25rem 1.2rem;
}

header.site-header .dropdown-item {
    align-items: center;
    display: flex;
    /* font-weight: 500; */
    padding: 0.5rem 1.5rem;
    color: var(--dark);
}

header.site-header .dropdown-menu-xs {
    border-radius: 0.5rem;
    min-width: 8rem !important;
}

header.site-header .dropdown-menu-md {
    border-radius: 0.5rem;
    min-width: 17rem !important;
}

header.site-header .dropdown-menu-lg {
    border-radius: 0.5rem;
    min-width: 22rem !important;
}

header.site-header .dropdown-menu-xl {
    border-radius: 0.5rem;
    min-width: 24rem !important;
}

header.site-header .dropdown-menu-xxl {
    border-radius: 0.5rem;
    min-width: 40rem !important;
}

header.site-header .dropdown-mega-menu {
    border-radius: 0.5rem;
    min-width: 1140px !important;
}

header.site-header .dropup .dropdown-toggle:after {
    content: "\e931";
    display: inline-block;
}

header.site-header .dropstart .dropdown-toggle:before {
    border: 0;
    content: "\e92f";
    display: inline-block;
    font-family: Feather !important;
    margin-right: 0.255em;
}

header.site-header .dropdown-toggle:after,
header.site-header .dropup .dropdown-toggle:after {
    display: none;
}

header.site-header .dropend .dropdown-toggle::after {
    display: none;
}

header.site-header .navbar .navbar-brand {
    padding-bottom: 0;
    padding-top: 0;
}

header.site-header .navbar .navbar-toggler {
    color: var(--bs-white);
    font-size: 1.5rem;
    padding: 0;
}

header.site-header .navbar .navbar-toggler:focus {
    box-shadow: none;
    outline: 0;
}

header.site-header .navbar .dropdown .dropdown-toggle:after:hover {
    transform: rotate(180deg);
}

header.site-header .navbar .dropdown-menu {
    border-radius: 0px 0px 0px 0px;
    box-shadow: var(--bs-box-shadow);
    color: var(--bs-gray-800);
    margin-top: 0;
    min-width: 12rem;
    top: 100%;
}

header.site-header
    .navbar
    .dropdown-menu
    .dropdown-submenu.dropend
    .dropdown-menu {
    border-radius: 0;
    border: 1px solid var(--border_light);
    box-shadow: var(--bs-box-shadow);
    left: 100%;
    min-width: 12rem;
    right: auto;
    top: -18px;
}

header.site-header .navbar .dropdown-fullwidth {
    position: static;
}

header.site-header .navbar .dropdown-fullwidth .dropdown-menu {
    left: 0 !important;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    right: 0 !important;
    top: 100%;
    transform: none !important;
    width: 100%;
}

header.site-header .navbar .navbar-nav .dropend > .dropdown-menu {
    transform: translateY(10px);
}

header.site-header
    .navbar
    .navbar-nav
    .dropdown-menu
    .dropend
    .dropdown-menu
    a {
    font-size: 16px;
    color: var(--dark);
}

header
    .header
    .navbar
    .navbar-nav
    .dropdown-menu
    .dropend
    .dropdown-menu
    a:hover {
    font-size: 16px;
    background: var(--bg-danger);
}

header.site-header .navbar .navbar-nav .nav-item .nav-link:focus-visible {
    box-shadow: none;
}

header.site-header .navbar .navbar-nav .nav-item .nav-link.active {
    color: var(--green) !important;
    font-weight: 400;
}

header.site-header .navbar .navbar-nav .nav-item:hover .nav-link {
    color: var(--green) !important;
}

header.site-header .navbar .dropdown .dropend:hover .dropdown-toggle {
    color: var(--green) !important;
}

header.site-header .navbar .navbar-nav .nav-item:hover .nav-link img {
    transform: rotate(180deg);
    transition: all 0.5s ease-in-out;
}

header.site-header .navbar .dropdown .dropdown-toggle img {
    color: var(--bs-white);
    line-height: 1.5rem;
    margin-left: 0.625rem;
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
}

header.site-header .navbar .dropdown .dropend a {
    padding: 0.5rem 5px 0.5rem 1.5rem;
}

header.site-header .navbar .dropdown .dropend .dropdown-toggle img {
    transform: none;
}

header.site-header .dropdown-item:focus,
header.site-header .dropdown-item:hover {
    background: var(--green) !important;
    color: var(--bs-white) !important;
}

header.site-header
    .navbar
    .navbar-nav
    .dropdown-menu
    .dropend
    .dropdown-menu
    a {
    font-size: 16px;
}

header.site-header .drop_border .dropdown-item {
    border-bottom: 1px solid var(--border_light);
    padding-top: 12px;
    padding-bottom: 12px;
}

header.site-header .drop_1 a {
    font-size: 16px;
}

header.site-header .drop_1 a:hover {
    background: var(--green) !important;
    color: var(--bs-white) !important;
}

header.site-header .drop_1 a:focus {
    background: var(--green) !important;
    color: var(--bs-white) !important;
}

header.site-header .navbar-expand-lg .navbar-nav .button:focus {
    color: var(--green) !important;
}

header.site-header .navbar-expand-lg .navbar-nav .submit-recipe-btn.nav-link {
    font-size: 0.95rem !important;
    padding: 10px 35px !important;
}
/*####################### SITE HEADER END #######################*/

/*####################### SECTION (Center) #######################*/
section#center {
    background-image: url(../img/contents/heroes/blog.jpg);
    height: 73vh;
}

section#center li {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
section#center a {
    color: var(--bs-white);
}
/*####################### SECTION (Center) END #######################*/

/*####################### SECTION (JOIN) #######################*/
section#join {
    background-image: url(../img/contents/reserves/1.jpg);
    background-attachment: fixed;
}

section#join .join_1_inner {
    width: 40%;
}
/*####################### SECTION (JOIN) #######################*/

/*####################### SITE FOOTER #######################*/
footer.site-footer {
    background-image: linear-gradient(
            315deg,
            rgba(45, 52, 54, 0.7) 0%,
            rgba(0, 0, 0, 0.8) 74%
        ),
        url(../img/contents/footer.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
}

footer.site-footer p,
footer.site-footer li span b a,
footer.site-footer span:has(:not(i)),
footer.site-footer span.fw-bold {
    color: #ffffff !important;
}

footer.site-footer li span b,
footer.site-footer span.fw-bold {
    font-weight: 500 !important;
}

footer.site-footer span.font_14,
footer.site-footer span.mt-1.font_13 {
    color: #cccccc !important;
}

footer.site-footer .footer_2 {
    border-top: 1px solid var(--border_dark);
}

footer.site-footer .footer_2 .border-bottom {
    border-bottom: 1px solid var(--border_dark) !important;
}

footer.site-footer .social_brands a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;

    border-radius: 50%;
}

footer.site-footer .footer_bottom1 {
    border-top: 1px solid var(--border_dark);
}
/*####################### SITE FOOTER END #######################*/

/*####################### COMMON #######################*/
.form-control:focus {
    box-shadow: none;
    border-color: var(--border_light);
}
.form-select:focus {
    box-shadow: none;
    border-color: var(--border_light);
}
.form-control {
    border-color: var(--border_light);
    box-shadow: none;
    border-radius: 0.25rem;
    height: 45px;
    font-size: 14px;
}
.form-select {
    border-color: var(--border_light);
    box-shadow: none;
    border-radius: 0.25rem;
    height: 45px;
    font-size: 14px;
}

.input-group .form-control {
    height: auto;
}
.input-group .form-control:focus {
    box-shadow: none;
}

.form_text {
    height: 150px !important;
}

::placeholder {
    opacity: 1; /* Firefox */
}

.paginate li a {
    width: 35px;
    height: 35px;
    line-height: 33px;
    transition: 0.3s;
    border-radius: 5px;
    margin-left: 3px;
    margin-right: 3px;
    color: var(--bs-black);
}
.paginate li a:hover {
    background: var(--green);
    color: var(--bs-white);
    transition: 0.3s;
}
.paginate .active {
    background: var(--green);
    color: var(--bs-white);
    border-color: var(--green) !important;
}
/*####################### COMMON END #######################*/

/*####################### RESPONSIVE ########################*/
@media screen and (max-width: 767px) {
    /*####################### SITE HEADER #######################*/
    header.site-header .logo {
        display: block !important;
        padding-top: 5px;
    }

    header.site-header .dropdown-fullwidth .d-none {
        display: block !important;
    }

    header.site-header .navbar .dropdown .dropdown-toggle img {
        float: right !important;
    }

    header.site-header .dropdown-submenu img {
        float: right !important;
        margin-left: auto !important;
    }

    header.site-header
        .navbar
        .dropdown-menu
        .dropdown-submenu.dropend
        .dropdown-menu {
        border: none;
        padding-top: 0;
    }

    header.site-header
        .navbar
        .navbar-nav
        .dropdown-menu
        .dropend
        .dropdown-menu
        a {
        padding-left: 15%;
    }

    header.site-header .navbar-toggler {
        margin-right: 0 !important;
    }

    header.site-header .logo {
        margin-left: 0;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        font-size: 20px !important;
    }

    header.site-header .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 16px;
    }

    header.site-header .offcanvas-header {
        padding-left: 0 !important;
    }

    header.site-header .navbar-nav .nav-link {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    header.site-header .offcanvas-header .logo {
        padding-left: 15px;
        font-size: 20px !important;
    }

    header.site-header .navbar {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    /*####################### SITE HEADER END #######################*/

    .img-fluid {
        width: 100% !important;
    }

    .center_sm {
        text-align: center !important;
    }

    section#join .join_1_inner {
        width: 100% !important;
    }

    /*####################### SITE FOOTER #######################*/
    footer.site-footer .footer_2_left {
        margin-top: 15px;
    }
    footer.site-footer .footer_2 .footer_1_left {
        margin-top: 15px;
    }
    footer.site-footer .footer_bottom1_left {
        margin-top: 10px;
        text-align: left !important;
    }
    /*####################### SITE FOOTER END #######################*/

    .head_after:after {
        width: 10%;
    }

    .sm_100 {
        width: 100% !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    /*####################### SITE HEADER #######################*/
    header.site-header .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 16px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /*####################### SITE HEADER #######################*/
    header.site-header .dropdown-fullwidth .d-none {
        display: block !important;
    }

    header.site-header
        .navbar
        .dropdown-menu
        .dropdown-submenu.dropend
        .dropdown-menu {
        border: none;
        padding-top: 0;
    }

    header.site-header .navbar-toggler {
        margin-right: 0 !important;
    }

    header.site-header .logo {
        margin-left: 15px;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        display: block !important;
        padding-top: 5px;
    }

    header.site-header .offcanvas-header {
        padding-left: 0 !important;
    }

    header.site-header .navbar-nav .button {
        padding-right: 10px;
        padding-left: 10px;
    }

    header.site-header .navbar {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    /*####################### SITE HEADER #######################*/

    .head_after:after {
        width: 20%;
    }

    .img-fluid {
        width: 100% !important;
    }
}

@media (min-width: 871px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1200px) {
    /*####################### SITE HEADER #######################*/
    header.site-header .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.4rem !important;
        padding-left: 0.4rem !important;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /*####################### SITE HEADER #######################*/
    header.site-header .navbar .dropdown .dropdown-toggle img {
        color: var(--bs-white);
        float: right;
        margin-top: 10px;
    }
    header.site-header .navbar .dropdown .dropend .dropdown-toggle img {
        float: none;
        margin-left: auto !important;
    }

    header.site-header
        .navbar
        .navbar-nav
        .dropdown-menu
        .dropend
        .dropdown-menu
        a {
        padding-left: 15%;
    }

    header.site-header .navbar .nav_right .dropdown .dropdown-toggle img {
        margin-top: 0px;
    }
    /*####################### SITE HEADER END #######################*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /*####################### SITE HEADER #######################*/
    header.site-header .navbar .dropdown-menu.show {
        display: block;
    }

    header.site-header .navbar .dropdown-menu {
        display: none;
        opacity: 0;
        transform: translate(-50%);
        transition: all 0.3s ease-in-out;
        visibility: hidden;
    }

    header.site-header .navbar .dropdown:hover > .dropdown-menu {
        opacity: 1;
        visibility: visible;
    }

    header.site-header .navbar .dropdown-submenu:hover > .dropdown-menu {
        opacity: 1;
        transform: translateY(10px);
        visibility: visible;
    }

    header.site-header .navbar .dropdown .dropdown-toggle img {
        float: none;
    }

    header.site-header .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.8rem;
        padding-left: 0.8rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    header.site-header .navbar .dropdown .dropdown-toggle img {
        margin-top: 0px;
    }

    header.site-header
        .navbar
        .navbar-nav
        .dropdown-menu
        .dropend
        .dropdown-menu
        a {
        font-size: 16px;
    }

    header.site-header .navbar .navbar-nav .dropdown > .dropdown-menu {
        left: 100%;
        transform: translate(-50%, 1px);
        margin-top: 28px;
        border: 1px solid var(--border_light);
    }
    /*####################### SITE HEADER END #######################*/
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /*####################### SITE HEADER #######################*/
    header.site-header .navbar .dropdown-menu.show {
        display: block;
    }

    header.site-header .navbar .dropdown-menu {
        display: block;
    }

    header.site-header .navbar .dropdown-menu {
        transform: translate(-50%);
        transition: all 0.3s ease-in-out;
    }

    header.site-header .navbar {
        padding: 0px;
    }

    header.site-header
        .navbar
        .navbar-nav
        > .dropdown-fullwidth:hover
        > a:before {
        left: 51%;
    }

    header.site-header .navbar .navbar-nav .dropdown > .dropdown-menu {
        left: 90%;
    }
    /*####################### SITE HEADER END #######################*/
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    .img-fluid {
        width: 100% !important;
    }
}

@media (min-width: 1201px) and (max-width: 1215px) {
}
/*####################### RESPONSIVE END ########################*/
